.npmignore
.travis.yml
CHANGELOG.md
CONTRIBUTING.md
Gruntfile.coffee
LICENSE.md
README.md
bower.json
changelog.js
component.json
hammer.js
hammer.min.js
hammer.min.js.map
hammer.min.map
package.json
expose.js
hammer.prefix.js
hammer.suffix.js
input.js
mouse.js
pointerevent.js
singletouch.js
touch.js
touchmouse.js
manager.js
recognizer.js
attribute.js
pan.js
pinch.js
press.js
rotate.js
swipe.js
tap.js
touchaction.js
utils.js
style.css
compute_touch_action.html
input.html
log.html
multiple.html
nested.html
simulator-googlemaps.html
simulator.html
touchaction.html
visual.html
blanket.js
jquery.min.js
lodash.compat.js
qunit.css
qunit.js
test_pan.js
test_pinch.js
test_swipe.js
index.html
test_enable.js
test_events.js
test_gestures.js
test_hammer.js
test_jquery_plugin.js
test_multiple_taps.js
test_nested_gesture_recognizers.js
test_propagation_bubble.js
test_require_failure.js
test_simultaneous_recognition.js
test_utils.js
/node_modules/hammerjs/.bowerrc
/node_modules/hammerjs/.jscsrc
/node_modules/hammerjs/.jshintrc
/.vscode/launch.json
/.vscode/settings.json
